@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');


*{margin:0;padding:0;}
a{text-decoration:none;
	color:#000;}
ul{list-style:none;}
body{font-size:15px;
	color:#696969;
	font-family : 'Nanum Gothic';
	line-height:25px;
    min-width: 1450px;
}

/*wrap배경*/
.wrap{
    background: url(images/bg_5.png) no-repeat center bottom; 
    position: relative;
    bottom: 0;
}

/*header*/
#header{
	width:100%;
	background:rgba(255,255,255,0.3);
    position: absolute;
    top: 0;
    left: 0;
	z-index:100;
}

.header_inner{
	width:1280px;
    height:183px;
	margin:auto;
    transition: all 0.7s;
}
.slide{
    height: 280px;
}/*순서 뒤로 옮기자!*/

.header_inner>a{
    padding-top: 24px;
}
.header_inner> a{
	float:left;
    color: white;
}

.nav{
	float:left;
    padding-left: 50px;
}
	
.nav>li{
	float:left;
    padding-top: 110px;
    padding-bottom: 45px;
}

.nav>li>a{
	font-size:18px;
	display:block;
    color: white;
    letter-spacing:2px;
    font-weight: 500;
    padding: 4px 55px;
}
.nav>li:hover> a{
    color:#0c143b;
}
.nav>li:nth-child(1):hover>a{
    background: url(images/nav_line1.png) no-repeat center bottom;
}
.nav>li:nth-child(2):hover>a{
    background: url(images/nav_line2.png) no-repeat center bottom;
}
.nav>li:nth-child(3):hover>a{
    background: url(images/nav_line3.png) no-repeat center bottom;
}
.nav>li:nth-child(4):hover>a{
    background: url(images/nav_line4.png) no-repeat center bottom;
}

.icon{
	float:right;
}

.icon li{
	float:left;
    padding-left: 20px;
    padding-top: 110px;
}

/*sub*/
.sub>li a{
    display: block;
    padding: 6px 0;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1.5px;
}
.sub>li:hover> a{
    color:white;
    transition: all 0.7s;
}
.nav> li{
    position: relative;
}
.sub{
    position: absolute;
    top: 160px;
    left: 0;
    width: 100%;
}

.sub{
    display: none;
}
.nav>li:hover .sub{
    display: block;
}


/*video*/
.video{
	width:100%;
	height:900px;
    overflow: hidden;
    position:relative;
}
video{
	width:100%;
	display:block;}
    
.v_title1{
	position:absolute;
	top:47%;
	left:65%;
	transform:translate(-50%,-50%);
	font-weight:500;
	text-align:right;
	font-size:45px;
	line-height:60px;
	color:#fff;
	font-family:Georgia, 'Times New Roman', Times, serif;
	letter-spacing:5px;
}
.v_title2{
	position:absolute;
	top:71%;
	left:65%;
	transform:translate(-50%,-50%);
	font-weight:500;
	text-align:right;
	font-size:45px;
	line-height:60px;
	color:#fff;
	font-family:Georgia, 'Times New Roman', Times, serif;
	letter-spacing:5px;
}

/*brand*/
#brand{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}
#brand h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing :3px;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px 0;
    color: #596275;
}
#brand h2{
    font-size: 16px;
}
#brand p{
    font-size: 14px;
    padding: 20px 0;
    color: #4e505a;
}
.b_box{
    padding-left: 202px;
    font-weight: bold;
    height: 395px;
}
.b_box li{
    float: left;
    padding: 0 40px;
}
.b_box li:nth-child(1),
.b_box li:nth-child(4){
    padding-top: 120px;
}
.b_box li:nth-child(2),
.b_box li:nth-child(3){
    padding-top: 55px;
}

.box1 a{
    color: #897c73;
}
.box2 a{
    color: #3f667e;
}
.box3 a{
    color: #4d5c87;
}
.box4 a{
    color: #78a9d5;
}

.btn1 a{
    font-size: 14px;
    text-align: center;
    background-color: #8793ae;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 17.5px;
}
.btn1 a:hover{
    background-color: white;
    border: #6384a9 0.7px solid;
    color: #8793ae;
    transition: all 0.8s;
}


/*campaign*/
#campaign{
    padding-top: 250px;
}
.campaign_inner{
    text-align: center;
}
.campaign_inner h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing :3px;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px 0;
    color: #596275;
    text-transform: uppercase;
}
.campaign_inner h2{
    font-size: 16px;
}
.c_box{
    width: 1200px;
    margin: 0 auto;
    height: 1000px;
    box-sizing: border-box;
    padding-top: 70px;
    position: relative;
}
.c_text, .c_img{
    float: left;
    width: 600px;
}
.c_box1 .c_text{
    padding-right: 60px;
    padding-top: 155px;
    box-sizing: border-box;
    text-align: right;
    
}
.number1, .number2{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    line-height: 40px;
}
.number1{
    color: #6384a9;
}
.number2{
    color: #4b5d70;
}
.c_text p{
    padding: 25px 0;
}
.c_box2 .c_text{
    padding-left: 60px;
    padding-top: 155px;
    box-sizing: border-box;
}
.dot_1{
    position: absolute;
    top: 28%;
    z-index: 10;
}
.dot_2{
    position: absolute;
    bottom: 34%;
    left: 48%;
    z-index: 100;
}

/*banner*/
#banner{
    width: 100%;
    height: 350px;    
    background:url(images/banner_img.jpg) no-repeat top;
    background-attachment: fixed;
    padding-top: 115px;
}
.banner_inner{
    text-align: center;
}
.banner_inner p{
    font-family: 'Chosunilbo_myungjo';
    font-size: 25px;
    line-height: 45px;
    color: white;
    letter-spacing: 10px;
    padding: 20px;
}
.btn2 a{
    font-size: 15px;
    text-align: center;
    background-color: rgba(189,204,212,0.5);
    color: white;
    border: 1px solid white;
    font-weight: bold;
    padding: 3px 40px;
    display: inline-block;
}
.btn2 a:hover{
    color: #37485c;
}
/*best*/
.best_inner{
    text-align: center;
}
.best_inner h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing :3px;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px 0;
    color: #596275;
}
.best_inner h2{
    font-size: 16px;
}
#best{
    padding-top: 115px;
    color: #2f4f4f;
}
.best_product{
    width: 1280px;
    height: 1200px;
    margin: 0 auto;
    padding-top: 55px;
    padding-left: 175px;
}
.product>ul>li:nth-child(1){
    padding-bottom: 20px;
}
.product .no{
    color: #999;
    font-size: 14px;
    text-decoration:line-through;
}
.product .big{
    font-size: 22px;
}
.product .number{
    font-size: 12px;
    color: #999;
}
.best_product .product{
    float: left;
    width: 33.3%;
    text-align: left;
    padding-top: 55px;
}
.product:nth-child(1),
.product:nth-child(2),
.product:nth-child(3){
    padding-bottom: 50px;
}
#best .btn1{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 195px;
}
#best .btn1 a:hover{
    background-color: white;
    color: #8793ae;
    transition: all 0.8s;
}

/*event*/
#event{
    text-align: center;
}
.event_text h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing :3px;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px 0;
    color: #596275;
}
.event_text h2{
    font-size: 16px;
}
.banner_text{
    position: absolute;
    top: 43%;
    left: 29%;
    
}
.banner_img{
    position: relative;
    height: 564px;
}
.event_inner{
    position: relative;
    text-align: center;
    height: 600px;
    margin: 0 auto;
}
.event_banner{
    position: absolute;/*움직이는거!*/
    top: -30px;
    left: 50%;
    margin-left: -720.5PX;
}


.banner_text p, 
.banner_text h2{
    font-family: 'Chosunilbo_myungjo';
    color: #37485c;
    font-size: 20px;
    padding: 4px 0;
}
.banner_text h1{
    color: #37485c;
    padding-bottom: 30px;
}
.btn3 a{
    font-size: 12px;
    text-align: center;
    background-color: #37485c;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px 25px;
    display: inline-block;
    margin-top: 20px;
}
.btn3 a:hover{
    background-color: white;
    color: #37485c;
    transition: all 0.8s;}

/*sns*/
.sns_inner{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}
.sns_inner h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing :3px;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px 0;
    color: #596275;
}
.sns_box>div>a{
    height: 100%; 
    transition : .2s ease, padding .2s ease;
    display:inline-block;
}
.sns_box>div>a:hover{
    padding-bottom: 50px; 
    transform: translate(0,-20px);
}
.sns_inner p{
    display: inline-block;
}
.sns_inner p:hover{
    color: #3f667e;
    font-weight: 500;
}
.sns_inner p{
    font-size: 16px;
    padding-bottom: 60px;
}
.sns_box{
    width: 1280px;
    height: 580px;
    margin: 0 auto;
    position: relative;
}
.s_box1{
    width: 448px;
    height: 292px;
    position: absolute;
    top: 0;
    left: 95px;
}
.s_box2{
    width: 166px;
    height: 292px;
    position: absolute;
    top: 0;
    left: 557px;
}
.s_box3{
    width: 287px;
    height: 579px;
    position: absolute;
    top: 0;
    left: 737px;
}
.s_box4{
    width: 371px;
    height: 275px;
    position: absolute;
    top: 305px;
    left: 95px;
}
.s_box5{
    width: 244px;
    height: 275px;
    position: absolute;
    top: 305px;
    left: 480px;
}
.s_box6{
    width: 150px;
    height: 132px;
    position: absolute;
    top: 0;
    right: 90px;
}
.s_box7{
    width: 150px;
    height: 251px;
    position: absolute;
    top: 25%;
    right: 90px;
}
.s_box8{
    width: 150px;
    height: 176px;
    position: absolute;
    top: 70%;
    right: 90px;
}

/*footer*/
#footer{
    background: url(images/footer_bg.png) no-repeat top center;
    height: 560px;
    margin-top: 205px;
    width: 100%;
}
.footer_inner{
    width: 1280px;
    margin: 0 auto;
    padding-top: 90px;
}
.f_left{
    float: left;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    width: 700px;
}
.f_left .f_logo{
    margin-bottom: 60px;
}
.f_right{
    float: right;
    font-size: 15px;
    color: white;
    text-align: right;
    padding-top: 115px;
    padding-right: 10px;
    width: 400px;
}
.call{
    font-size: 40px;
}
.footer_inner p{
    padding-bottom: 5px;
}
.f_left p:nth-child(4){
    padding-top: 110px;
}
.f_icon{
    padding-top: 45px;
}
.f_icon a:nth-child(1),
.f_icon a:nth-child(2){
    padding: 0 8px;
}

/*TOP*/
.TOP{
    width:70px;
	position:fixed;
	bottom:50px;
	right:120px;
    z-index: 100;
}

